<header>
        {{- if and .IsHome .Site.Params.postURL -}}
            <div class="header-home">
                <a href="{{- .Site.Params.postURL -}}">{{- .Site.Params.postURLName -}}</a>
            </div>
        {{- else if .IsPage -}}
            <div class="header-home">
                <a href="{{- .Site.Params.postURL -}}">{{- .Site.Params.postURLName -}}</a>
            </div>
        {{- else -}}
            <div class="header-home">
                <a href="{{ $.Site.BaseURL }}">主页</a>
            </div>
        {{- end -}}
</header>